html {
	background-color: white;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
line-height: 115%;
margin: 0;
}

header {
	background-color: #e7001d;
	padding: 1em 0em 0em 0em;
	text-align: center;
	margin: 0;
}

.medallion {
	background-color: #e7001d;
	width: 25%;
	padding: 0;
	position:absolute;
	left: 142px;
	top: 20px;
}


h1 {
	padding: 1em 0.5em 2em 0.5em;
	margin: 0;
	text-align: center;
	color: white;
	font-weight: bolder;
	font-size: 0.8rem;
	font-style: normal;
	text-shadow: 1.5px 1.5px black;
	font-family: 'Noto Sans', sans-serif;
	position: relative;
}

.symbols {
	font-size: 2.8rem;
	font-family: 'Noto Sans', sans-serif;
	text-shadow: 1.5px 1.5px black;
	position: relative;
	bottom: 15px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: white;
	overflow: hidden;
}

nav li {
	display: block;
	border: 1px black solid;
	float: left;
	width: 50%;
	background-color: #222222;
	text-align: left;
	color: white;
	text-decoration: none;
	margin: 0;
	font-size: 1.2rem;
	font-family: 'Noto Sans', sans-serif;
}

nav a {
	display: block;
	padding: 0.5em 0.5em 0.5em 0.5em;
	text-align: center;
	color: white;
	text-decoration: none;
	margin: 0;
}

nav a:hover {
	display: block;
	background-color: #e7001d;
	color: white;
}

.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.shen {
	text-shadow: 1.5px 1.5px black;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	color: white;
	font-size: 2rem;
	font-family: 'Noto Sans', sans-serif;
	position: relative;
	bottom: 50px;
	padding: 0;
	margin: 0;
}

.p1 {
	padding: 0em 0em 1em 0em;
	margin: 0em 0.5em 0em 1em;
	font-weight: normal;
	line-height: 135%;
	font-size: 1rem;
	font-family: 'Noto Sans', sans-serif;
}

.dragon-ox {
	clear: both;
	text-align: center;
	color: black;
	background-color: #e4c22a;
	padding: 1em 1em 1em 1em;
	margin: 0;
	font-size: 1.5rem;
	font-style: bold;
	font-family: 'Noto Sans', sans-serif;
}

.caption-1 {
	clear: both;
	text-align: center;
	color: black;
	background-color: #e4c22a;
	padding: 1em 1em 2em 1em;
	margin: 0;
	font-style: italic;
	font-size: 0.9rem;
	font-family: 'Noto Sans', sans-serif;
}

.left-symbol-1 {
	float: left;
	font-size: 0.7rem;
	font-style: italic;
	color: white;
	background-color: #e4c22a;
	padding: 0;
	width: 50%;
	margin: 0;
}

.right-pic-1 {
	float: right;
	font-size: 0.7rem;
	font-style: italic;
	color: white;
	background-color: #e4c22a;
	padding: 0;
	width: 50%;
	margin: 0;
}

.title-goat {
	clear: both;
	text-align: center;
	color: white;
	background-color: #222222;
	padding: 1em 1em 1em 1em;
	margin: 0;
	font-size: 1.5rem;
	font-style: bold;
	font-family: 'Noto Sans', sans-serif;
}

.caption-goat {
	clear: both;
	text-align: center;
	color: white;
	background-color: #222222;
	padding: 1em 1em 2em 1em;
	margin: 0;
	font-style: italic;
	font-size: 0.9rem;
	font-family: 'Noto Sans', sans-serif;
}

.left-symbol-goat {
	float: left;
	font-size: 0.7rem;
	font-style: italic;
	color: white;
	background-color: #222222;
	padding: 0;
	width: 50%;
	margin: 0;
}

.right-pic-goat {
	float: right;
	font-size: 0.7rem;
	font-style: italic;
	color: white;
	background-color: #222222;
	padding: 0;
	width: 50%;
	margin: 0;
}

.title-rooster {
	clear: both;
	text-align: center;
	color: white;
	background-color: #bc0017;
	padding: 1em 1em 1em 1em;
	margin: 0;
	font-size: 1.5rem;
	font-style: bold;
	font-family: 'Noto Sans', sans-serif;
}

.caption-rooster {
	clear: both;
	text-align: center;
	color: white;
	background-color: #bc0017;
	padding: 1em 1em 2em 1em;
	margin: 0;
	font-style: italic;
	font-size: 0.9rem;
	font-family: 'Noto Sans', sans-serif;
}

.left-symbol-rooster {
	float: left;
	font-size: 0.7rem;
	font-style: italic;
	color: white;
	background-color: #bc0017;
	padding: 0;
	width: 50%;
	margin: 0;
}

.right-pic-rooster {
	float: right;
	font-size: 0.7rem;
	font-style: italic;
	color: white;
	background-color: #bc0017;
	padding: 0;
	width: 50%;
	margin: 0;
}

.symbol-img {
	display: block;
	width: 100%;
	margin: 0;
}

.animal-img {
	display: block;
	width: 100%;
	margin: 0;
}

footer {
	clear: both;
	background-color: #222222;
	padding: 0.2em 0.5em 0.5em 0.5em;
	margin: 0;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 0.8rem;
	font-style: normal;
	font-family: 'Noto Sans', sans-serif;
	line-height: 1;
}

footer a:hover {
	background-color: #222222;
	color: white;
}

